<!-- A HTML form that presents all appointments organized by doctor. -->
<!-- Written by Minhwa (Mina) Lee -->

<html>
<title> Appointments by Primary Doctors</title>
<head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <style>
    table, th, td { border: 1px solid black;
                    border-collapse: collapse;}
    </style>
</head>
<body>

<h1> View Appointments by Doctors </h1>

<a href="/"> Back to Main page</a>
<p><a href="/apps"> View Appointments by Patients</a></p>
<p><a href="/app_months">View Appointments by Month</a></p>

{% for doctor, apps in apps_by_doctor.items() %}

<h2>{{doctor}}</h2>

<table>
    <tr>
        <td><b>Patient First Name</b></td>
        <td><b>Patient Last Name </b></td>
        <td><b>Age</b></td>
        <td><b>Gender</b></td>
        <td><b>Date of Birth</b></td>
        <td><b>Scheduled Month</b></td>
        <td><b>Symptom/Diagnosis</b></td>
        </tr>
{% for app in apps %}
    <tr>
        <td>{{app['FirstN']}}</td>
        <td>{{app['LastN']}}</td>
        <td>{{app['age']}}</td>
        <td>{{app['gender']}}</td>
        <td>{{app['birth']}}</td>
        <td>{{app['month']}}</td>
        <td>{{app['symptom']}}</td>
    </tr>
    {% endfor %}
</table>

{% endfor %}
</body>
</html>
